@charset "utf-8";
/**
 *珠宝街招商页面样式
 * @wuyj
 * www.zhubaojie.com
 * 6-27-2015
 **/
.setted_content{width:1200px;margin-left:auto;margin-right:auto;}
.banners{position:relative;}
#special-sider {
	width:100%;
	height:320px;
	position:relative;
}
#special-sider a{
	display:block;
	width:100%;
	min-width:960px;
	height:320px;
	position:absolute;
	top:0;left:0;
	overflow:hidden;
	display: none;
}

.banners .banners-nav{
	position:absolute;left:50%;bottom:20px;margin-left:-50px;
}

.banners .banners-nav ul li{
	float: left;
	width: 10px;height: 10px;
	margin-right: 10px;
	background-color: #6f6d6e;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor:pointer;
}
.banners .banners-nav ul li.current{
	background-color:#f8397c;
}


.special_service{
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
}
.special_service ul li{
  width: 200px;
  float: left;
  margin: 0 20px;
  font-family: Microsoft YaHei;
  overflow: hidden;
}
.special_service ul li img{
  width:40px;
  height:40px;
  float:left;
}
.special_service ul li .mt{
  margin-left:50px;
}
.special_service ul li .tit{
  font-size:16px;
}
.special_service ul li p{
  margin-top:8px;
}
.special_sell_list{
  margin:20px 0;
}
.special_sell_list .products_list ul li{
  float:left;
  width:230px;
  margin-right:10px;
  margin-bottom:10px;
  border:1px solid transparent;
    overflow: hidden;
}
.special_sell_list .products_list ul li:hover{
  border:1px solid #f69;
}
.special_sell_list .products_list ul li .image a{
  display:block;
  text-align:center;
}
.special_sell_list .products_list ul li .image img{
  width:230px;
  height:230px;
  border:none;
}

.special_sell_list .products_list ul li .goods_name{
  line-height: 18px;
  height:36px;
  overflow:hidden;
  margin:5px 10px;
}
.special_sell_list .products_list ul li .goods_name a:hover{
  text-decoration:underline;
}
.special_sell_list .products_list ul li .goods_price{
  margin: 0 10px 10px 10px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  font-family: Tahoma,Arial,Helvetica,sans-serif;
}

.special_sell_list .products_list ul li .goods_price .special_price{
  color:#fd3e7d;
  font-size:16px;
  font-weight:700;
}
.special_sell_list .products_list ul li .goods_price .discount{
  background:#f69;
  color:#fff;
  padding: 1px 2px;
  margin-right:5px;
}
.special_sell_list .products_list ul li .goods_price .prime_price{
  text-decoration:line-through;
}